<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnectionString"
             connectionString="server=127.0.0.1;port=3306;user=root;password=;database=duhtrendspalas;"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
